<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <div class="fields-container">

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Category" formControlName="category">
        <mat-option value="Phones">Phones</mat-option>
        <mat-option value="Computers">Computers</mat-option>
        <mat-option value="Furnitures">Furnitures</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" *ngIf="!isUpdate">Give Something!</button>
    <button mat-raised-button type="submit" mat-dialog-close="update" color="primary" (click)="updateItem()" *ngIf="isUpdate">Update
      Item</button>
  </div>
</form>