<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchQuery" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchQuery"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <div *ngIf="column != 'actions'">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </div>

    <div *ngIf="column == 'actions'">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="editItem(element)">edit</mat-icon>
        <mat-icon (click)="deleteItem(element)">delete</mat-icon>
        <a href="https://twitter.com/intent/tweet?screen_name=agura&text=Look at my product!" class="twitter-mention-button" data-show-count="false"><img style="height: 17px;width: 20px;" src="../assets/media/twitter.jpg"/></a>
      </td>
    </div>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="contact-info">
          <h2>Contact info:</h2>
          <p> <strong> Name: </strong> {{element.owner.fullName}} </p>
          <p> <strong>City: </strong> {{element.owner.city}} </p>
          <p> <strong>Phone Number: </strong> {{element.owner.phone}} </p>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
