<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="userLoggedInStatus.isUserLoggedIn">
    <aside>
      <a routerLink="/home">
        <h2>Agura</h2>
      </a>

      <nav>
        <ul>
          <a routerLink="/my-items">
            <li>My Items</li>
          </a>
          <a routerLink="/give-something">
            <li>Give Something</li>
          </a>
          <a routerLink="/take-something">
            <li>Take Something</li> 
          </a>
          <a routerLink="/statistics">
            <li>Statistics</li>
          </a>
          <a routerLink="/contact">
            <li>Contact Us</li>
          </a>
          <a routerLink="/messages">
            <li>Messages</li>
          </a>
        </ul>
      </nav>
      Jerusalem:  {{weather}}
    </aside>
  </mat-sidenav>

  <mat-sidenav-content>
    <a *ngIf="userLoggedInStatus.isUserLoggedIn" class="logout-button" href="#" (click)="logout()">Logout</a>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
