<div
  style="display:flex;justify-content: space-around;flex-direction: row;margin-top:5%"
>
  <div
    style="display:flex;justify-content: center;flex-direction:column;margin-top:2%"
  >



    <p>
      <strong>Ron Badur</strong>
      <br />
      ronBadur@gmail.com
    </p>
    <p>
      <strong>Rotem Bar</strong>
      <br />
      rotem4432@gmail.com
    </p>
    <p>
      <strong>Bar Cohen</strong>
      <br />
      barofi14@gmail.com
    </p>
    <p>
      <strong>Tomer Inbar</strong>
      <br />
      Tomer@gmail.com
    </p>
  </div>

  <div #myMap style="width: 500px; height: 500px;"></div>
</div>
<div class="multiple_columns"> 
    לכולנו יש בפנים את הצורך לתת, ולכולנו נוצרת במידה זו או אחרת הרגשה של בזבוז אם אנו זורקים חפץ שיש לו עדיין ערך. עם זאת הישראלי הממוצע רגיל לאכסן את חפציו שמעלים אבק, לזרוק אותם, ובמקרה הטוב יותר להוריד אותם לרחוב בתקווה שמישהו שצריך אותם יעבור שם לפני מכונית הזבל.
    על מנת להצליח לבסס את "פרויקט אגורה" ולהגשים את חזונו, יש צורך ליצור בנו שינוי תפשתי מסוים, כך שנבין שדברים בעלי ערך לא זורקים, אלא נותנים למי שצריך או רוצה אותם.
    בשביל ליצור את השינוי התפישתי הזה, אנו זקוקים לעזרתו של כל מי שמבין את החשיבות של הצלחת הפרויקט ורוצה לסייע לו.
</div>  
