<div class="content-container">
  <aside>
    <a routerLink="/">
      <h2>Agura</h2>
    </a>

    <ul>
      <a routerLink="/my-items">
        <li>My Items</li>
      </a>
      <a routerLink="/give-something">
        <li>Give Something</li>
      </a>
      <a routerLink="/take-something">
        <li>Take Something</li>
      </a>
      <a routerLink="/statistics">
        <li>Statistics</li>
      </a>
    </ul>
  </aside>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>