
  <div align="center">
<canvas id="myCanvas" class="HeaderCanvas" width="100" height="60" style="border:1px solid #d3d3d3; border-radius: 25px;">
  Your browser does not support the HTML5 canvas tag.</canvas>
  
  <br>
  <br>
  <br>
  <div class="aboutus" dir="rtl">
      דמיינו לעצמכם מצב בו כאשר מר ישראלי זקוק לחפץ מסוים, לפני שהוא הולך להוציא עליו את מיטב כספו, הוא נכנס לאינטרנט, ובודק במאגר מידע עצום, האם מישהו בסביבה הקרובה (או הרחוקה) מעוניין לתת לו את החפץ הזה.

חזון "פרויקט אגורה" שואף ליצור מצב בו תושבי ישראל מפיצים בינהם את כל החפצים אשר הם אינם צריכים, אבל הם עדיין בעלי ערך וחבל לזרוק אותם. בדרך זו יפתח בעבור כולנו מאגר חדש של שפע, אשר נמצא בידינו, אך עד היום לא היתה לנו גישה אליו.
  </div>

  <br>
  <br>
  <video width="480" height="350" controls>
    
    <source src="../assets/media/video.mp4" type="video/mp4">
    </video>
  </div>
 